In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.preprocessing import PowerTransformer, OneHotEncoder, FunctionTransformer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer


warnings.filterwarnings('ignore')
%matplotlib inline

In [37]:
df = pd.read_csv('data/train.csv')
df.head()

,id,sex,length,diameter,height,whole_weight,shucked_weight,viscera_weight,shell_weight,rings
0,6,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8
1,210,I,0.370,0.280,0.095,0.2655,0.1220,0.0520,0.080,7
2,333,I,0.475,0.365,0.115,0.4990,0.2320,0.0885,0.156,10
3,111,M,0.495,0.395,0.125,0.5415,0.2375,0.1345,0.155,9
4,77,M,0.595,0.475,0.140,0.9440,0.3625,0.1890,0.315,9

In [38]:
df.shape

(308, 10)